body{
    background-color: rgb(197, 185, 165);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    color: #2E2E2E;
    box-sizing: border-box;
    /* color: #574322; */
}
header{
    height: 10vh;
    width: 100%;
    background-color: #9E6B3E;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    gap: 3em;
}
button{
    padding: 0.5rem 1.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    /* color:#9E6B3E; */
    background: #F5E6D3;
    border-radius: 0.5em;
}
button:hover {
  background: #D4A373;
  transform: scale(1.05);
  transition: 0.3s;
}
#content{
    margin: 1em 0em;
    box-sizing: border-box;
    min-height: 85vh;
    min-width: 60vw;
    padding: 1em 1em;
    background-color: white;
    border-radius: 1em;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    gap: 2em;

}
#content>article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    box-shadow: 0 0.5em 1.25em rgba(0,0,0,0.1);
}
.headline{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    /* color: #4f351ef5; */
    color: #6B4F3A;
    min-width: 5em;
    text-align: center;
    padding: 0.1em 0.5em;
    border: #6B4F3A;
    border-style: solid double double solid;
    border-radius: 0.5em;
}
#content > article  .img{
    min-width: 50rem;
    height: 30rem;
    background-image: url("./restaurant-background.jpg");
    background-size: cover;
    border-radius: 1em;
    box-shadow: 1px black;
}
.punchline{
    color: #9E6B3E;
    font-style: italic;
    font-size: 1.25em;
    margin-top: 0.75em;
}
h2{
    color: black;
}
.cards{
    display: flex;
    gap: 7em;
}
.card{
    width: 20em;
    line-height: 1.6;
    color: #2E2E2E;
}
.cta {
  background: #9E6B3E;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 1em 0;
}
footer{
    height: 5em;
    width: 100%;
    background-color: rgb(24, 14, 39);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.abouts{
    max-width: 60vw;
    line-height: 1.5;
    padding:1em 5em;
}
/* .item{
    width: 10em;
    height: 10em;
    background-image: url("./restaurant-background.jpg");
    background-size: cover;
} */